.textWrapper {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
}

.text {
    position: absolute;
    font-size: 32px;
    font-weight: 300;
    right: -68px;
    color: #fff;
    overflow: hidden;
    opacity: 0;
    white-space: nowrap;
    animation: appears 3s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 7.5s;
}

.emailBtn {
    position: absolute;
    top: 48px;
    left: -88px;
    background-color: #6B3FA0;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    animation: appears 5s ease;
    animation-fill-mode: forwards;
    animation-delay: 8s;
}

.emailBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #fff;
}

@keyframes appears {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sweep {
    0% {
        width: 0;
        color: #000;
    }

    25% {
        opacity: 0;
        width: 55px;
        color: #000;
    }

    100% {
        opacity: 1;
        width: 220px;
        color: #fff;
    }
}
