.wrapper {
  display: flex;
  background: #110f0f;
  width: 100svw;
  height: 100svh;
  align-items: center;
  justify-content: center;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: transparent url('./assets/stars.png') repeat top center;
  animation: twinkle 3s infinite;
}

@keyframes twinkle {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

.platform {
  position: fixed;
  transform: translateY(var(--platform-height));
  border: 1px solid #fff;
  box-shadow: 0 2px 10px #ffffff;
  width: 200px;
  z-index: 9;
  animation: dissipate 8s ease;
  animation-fill-mode: forwards;
}

@keyframes dissipate {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

